body{
    background-color: #D5C9F2;
    margin: 0;
}
  
header {
    padding: 4px;
    text-align: center;
    background-image: url('/images/header.jpg');
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: Merienda;
}
  
main { 
    font-family: Yomogi;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 48px;
    text-align: justify;
}

.logos {
    max-width:100px;
    max-height:50px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.contact {
    display: flex;
    font-weight: bold;
    font-size: 18px;
}

footer {
    background-color: #2E2E2E;
    color: white;
    font-size: 15px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; 
    padding-top: 4px; 
    padding-bottom: 4px;
}
