body{
    background-color: #D5C9F2;
    margin: 0;
}
  
header {
    padding: 4px;
    text-align: center;
    background-image: url('/images/header.jpg');
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: Merienda;
}
  
main { 
    font-family: Yomogi;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 48px;
    text-align: justify;
}

.imag {
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.catalog {
    display: flex;
    list-style: none !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product {
    max-width: 250px;
    max-height: 200px;
    margin-right: 10px;
}

.description {
    font-weight: bold;
    text-align: center;
}

.btn-header {
    background-color: #3C455A ;
    color: white;
}

.btn-header:hover {
    background-color: #1F2739;
    cursor: pointer;
}

.btn {
    background-color: #603C84;
    color: white;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: #3C2652;
    cursor: pointer;
}

.contact {
    display: flex;
    font-weight: bold;
    font-size: 18px;
}

footer {
    background-color: #2E2E2E;
    color: white;
    font-size: 15px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; 
    padding-top: 4px; 
    padding-bottom: 4px;
}
